{% extends '@WCSCoav/base.html.twig' %}

{% block body %}
    <h2>Your profile</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3 flightDetail">
            <div class="flightHeader">
                <h3>Check the informations below</h3>

            </div>
            <div class="flightBody">
                <table>
                    <tr>
                        <th>User Name</th>
                        <td>{{ user.userName }}</td>
                    </tr>
                    <tr>
                        <th>First Name</th>
                        <td>{{ user.firstName }}</td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td>{{ user.lastName }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Phone Number</th>
                        <td>{{ user.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <th>Birth Date</th>
                        <td>{{ user.birthDate|date ('Y m d') }}</td>
                    </tr>
                    <tr>
                        <th>You are a</th>
                        <td>{% if user.role == 1 %}Traveler{% else %}Pilot{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Certified pilot</th>
                        <td>{% if user.isACertifiedPilot %}Yes{% else %}No{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Active pilot</th>
                        <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                    </tr>

                </table>


            </div>
            <div class="flightFooter">
                <ul>
                    <li>
                        <a href="{{ path('login') }}">Everything is ok, go to the login page</a>
                    </li>
                    <li>
                        <a class="editCircle" href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
                    </li>

                </ul>

        </div>
    </div>
{% endblock %}