{% extends '@WCSCoav/base.html.twig' %}

{% block body %}
    <h2>Your next Reservations</h2>
    <div class="row">
        {% for reservation in reservations %}
            <div class="col-md-3 flightInfo">
                <div class="flightHeader">
                    <h3>{{ reservation.flight.takeOffTime|date('d M Y') }}</h3>
                </div>
                <div class="flightBody">
                    <h3>{{ reservation.flight.departure.name }}</h3>
                    <p>{{ reservation.flight.takeOffTime|date('H:i') }} - {{ reservation.flight.departure.icao }}</p>
                    <h3>{{ reservation.flight.arrival.name }}</h3>
                    <p>{{ reservation.flight.landingTime|date('H:i') }} - {{ reservation.flight.arrival.icao }}</p>
                    <h3>Passengers</h3>
                    <p>{{ reservation.passenger }}</p>
                    <h3>Plane Reserved Seats</h3>
                    <p>{{ reservation.nbReservedSeats }}</p>
                </div>
                <div class="flightFooter">

                    <div class="col-md-5">Price per Seat {{ reservation.flight.seatPrice }} $USD</div>
                    <a href="{{ path('reservation_show', { 'id': reservation.id }) }}"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                </div>
            </div>
        {% endfor %}

        <div class="col-md-2 col-md-offset-5 flightInfo">
            <div class="flightBody">
                <h3>Make a new reservation</h3>
            </div>
            <div class="flightFooter">
                <a href="{{ path('reservation_new') }}"><i class="fa fa-suitcase" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
{% endblock %}
