{% extends '@WCSCoav/base.html.twig' %}

{% block body %}
    <h2>Planemodel details</h2>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 flightDetail">
            <div class="flightHeader">
                <h3>{{ planeModel.model }}</h3>
            </div>
            <div class="flightBody">
                <table>
                    <tr>
                        <th>Manufacturer</th>
                        <td>{{ planeModel.manufacturer }}</td>
                    </tr>
                    <tr>
                        <th>Cruise Speed</th>
                        <td>{{ planeModel.cruiseSpeed }} mph</td>
                    </tr>
                    <tr>
                        <th>Number of Seats</th>
                        <td>{{ planeModel.planeNbSeats }}</td>
                    </tr>
                    <tr>
                        <th>Is Available</th>
                        <td>{% if planeModel.isAvailable %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </table>
            </div>
            <div class="flightFooter">

                <div class="col-md-5"><a href="{{ path('planemodel_index') }}">Back to the list</a></div>
                <div class="col-md-3"><a href="{{ path('planemodel_edit', { 'id': planeModel.id }) }}">Edit</a></div>
                <div class="col-md-4">{{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}</div>
            </div>
        </div>
    </div>
{% endblock %}
