{% extends '@WCSCoav/base.html.twig' %}

{% block body %}
    <h2>Flight details</h2>

    <div class="container-show">
        <div class="flightCard">
            <div class="block-title">
                <h3>Departure / Arrival</h3>
            </div>
            <div class="flightDetail">
                <ul>
                    <li>Departure : {{ flight.takeOffTime|date('d M Y') }}</li>
                    <li>Take off Time : {{ flight.takeOffTime|date('H:i') }}</li>
                    <li>Landing Time : {{ flight.landingTime|date('H:i') }}</li>
                </ul>
                <ul>
                    <li>Plane Model : {{ flight.planeModel }}</li>
                    <li>Manufacturer : {{ flight.planeModel.manufacturer }}</li>
                    <li>Number of Seats : {{ flight.planeModel.planeNbSeats }}</li>
                </ul>
                <ul>
                    <li>Free Seats : {{ flight.nbFreeSeats }}</li>
                </ul>
                <ul>
                    <li>Seat Price : {{ flight.seatPrice }} $USD</li>
                </ul>
                <ul>
                    <li>Pilot : {{ flight.user.userName }}</li>
                </ul>
                <ul>
                    <li>Description : {{ flight.description }}</li>
                </ul>
            </div>
            <div class="blockFooter">

                <a href="{{ path('flight_index') }}" title="Back to the list"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
                <a href="{{ path('flight_edit', { 'id': flight.id }) }}" title="Edit"><i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                {{ form_start(delete_form) }}
                <button class="delete" data-toggle="tooltip"
                        title="Delete" type="submit"><i class="fa fa-trash"></i></button>
                {{ form_end(delete_form) }}


            </div>
        </div>
        <div class="mapid">Carte</div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
